{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}


  
<div class="container mt-3 text-dark bg-light">
  <br />
  <h2 class="text-center fs-4">About Us</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, exercitationem? Earum ullam repudiandae numquam labore asperiores debitis iste impedit provident similique aliquam, odio sunt repellat deserunt necessitatibus deleniti quo tempore eveniet eos dolorum nulla nam. Obcaecati, facilis. Veniam animi maxime beatae et sint officia, consequatur exercitationem asperiores perspiciatis, culpa voluptatibus quos odio. Facilis debitis quos quia ut, adipisci exercitationem perspiciatis ad harum odio reiciendis labore fugiat, obcaecati hic ducimus neque esse, laborum commodi ullam dignissimos. Maiores nisi optio voluptatem nulla eum veritatis obcaecati modi, accusamus ipsum delectus odio dignissimos totam accusantium facilis repellat recusandae. Facilis deleniti vitae hic culpa nisi?
    </p>
  </div>
  <br /><br />
  <h2 class="text-center">Careers</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
      Do you have a passion for music and audio? We operate worldwide through a network of more than 11,000 talented employees, positioned to serve both the emerging and established markets. Many among our team began their careers on the stage or in the recording studio, bringing their personal experience as customers to the design, production, and marketing of innovative new audio technologies. We’re looking for people who want to join our global family and build a sound future – for our customers, our company, and our employees. View our career opportunities at ORBIN.
    </p>
  </div>
</div>

{% endblock main-content %}